#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
server_id                           = {{ 1024 |random(1) }}
secure-file-priv                    = NULL
ngram_token_size                    = 1
host_cache_size                     = 0
skip-name-resolve                                                    # 禁用dns解析
max_connections                     = 1000                           # 最大连接数

{% if log_bin %}
####: for binlog
log-bin
{% endif %}